<html>
<body>
<h1><%= @message if @message %></h1>
  <div id="fb-root"></div>
  <div class="container">
    <h1>login with Facebook!</h1>
    <button><a href="<%= @url %> "> Signup</a></button>
  <!-- <div class="fb-login-button" data-width="200"></div> -->
  </div>

</body>
</html>